$primary-colour: #367d91;
$app-red: #c02f47;
$app-green: #478077;
$white: #ffffff;
$black: #000000;
$grey: #ccc;
$dark-grey: #ccc;
$color-text: #000000;
$button-hover-color: #666666;
$button-link-text: #cf1b46;
