@import "./partials/_reset";
@import "../../assets/fonts/_googlefonts";
@import "./partials/_type";
@import "./partials/_colours";
@import "./partials/_grid";

#app {
  font-weight: normal;
  min-width: 320px;
}
body {
  min-height: 100vh;
  color: $black;
  background: $white;
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, */
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: Rubik, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  /* background-color: #ccc; */
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  @media (min-width: 1024px) {
    padding: 0 3rem;
  }
  main {
    background-color: lightblue;
  }
}
.grid {
  display: grid;
}
.align-center {
  text-align: center;
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  color: green;
} */
.nuxt-icon svg {
  width: 3em;
  height: 3em;
  margin-bottom: 0.125em;
  vertical-align: middle;
  margin-bottom: 0;
}
